In [ ]:
import pandas as pd

test_sample = pd.read_csv('under-sample.csv')

In [4]:
test_sample.head()

,Unnamed: 0,business_id,user_id,text,cool,stars,date,funny,review_id,useful,...,address,city,state,latitude,longitude,average_business_stars,recieved_reviews,categories,attributes,tip_review
0,0,4AxmAGObMPTDqbJK3EgNgQ,WDX_KkxwI8VYOF3RHpNLpA,I discovered my new favorite food truck in the...,1,5.0,2016-01-21 06:21:55+00:00,0,fVBt5kq8lyVSK2RcpY9XQA,2,...,NaN,Reno,NV,NaN,-119.813803,4.5,11.0,"Food, German, Food Trucks, Restaurants","{'BusinessAcceptsCreditCards': 'True', 'Alcoho...",NaN
1,1,II7CpZjGyx8aFTu3wJbQNw,pgh8UtO2K13GVMv4Ih-jEw,Sean Byrd was our guide on the City Tour. He w...,0,5.0,2021-01-24 21:04:52+00:00,0,3Sjk89h1OLVdEm9fqoggnQ,1,...,NaN,New Orleans,LA,NaN,-90.077750,5.0,6.0,"Hotels & Travel, Bus Tours, Tours",NaN,NaN
2,2,ul0MGusQZBGo4CqiVh6VcA,vgiUst2zH7Zzs2FdISwQdQ,Super fun parade on the Sunday afternoon befor...,1,5.0,2016-02-13 17:40:22+00:00,1,E5-7WlkTKnnC0XlsALwRfg,1,...,St Charles Ae,New Orleans,LA,NaN,-90.080723,4.5,9.0,Local Flavor,{'GoodForKids': 'True'},NaN
3,3,4vvu78FMlZyQwZf0bBUkLQ,ZzFwLI4AC9MyCBwY-kulEA,Horrible. I had read boisterous articles compa...,0,1.0,2019-05-26 18:45:25+00:00,1,JYGPNWLy8uxnxzjdNPWBQw,0,...,Pennsylvania St,Indianapolis,IN,NaN,-86.155944,3.5,11.0,"Arts & Entertainment, Festivals, Local Flavor",{'GoodForKids': 'True'},NaN
4,4,mRtGKvoxQLSh-tf2qBBoLg,6903ibtDSpwMDvD9Yp33wg,I ordered an Arnold Palmer over the sweltering...,0,2.0,2013-09-05 23:17:55+00:00,0,EA0FGcHTsgBcGpa_e1g7GA,0,...,18th St & Logan Sq,Philadelphia,PA,NaN,-75.168697,3.5,34.0,"Food, Bakeries, Coffee & Tea","{'RestaurantsPriceRange2': '2', 'BusinessParki...",NaN

In [3]:
test_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327980 entries, 0 to 327979
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              327980 non-null  int64
 1   business_id             327980 non-null  object
 2   user_id                 327980 non-null  object
 3   text                    327980 non-null  object
 4   cool                    327980 non-null  int64
 5   stars                   327980 non-null  float64
 6   date                    327980 non-null  object
 7   funny                   327980 non-null  int64
 8   review_id               327980 non-null  object
 9   useful                  327980 non-null  int64
 10  average_user_stars      327979 non-null  float64
 11  yelping_since           327979 non-null  object
 12  submitted_reviews       327979 non-null  float64
 13  name                    327979 non-null  object
 14  address                 324081 non-null  object
 15  city                    327979 non-null  object
 16  state                   327979 non-null  object
 17  latitude                327934 non-null  object
 18  longitude               327979 non-null  float64
 19  average_business_stars  327979 non-null  float64
 20  recieved_reviews        327979 non-null  float64
 21  categories              327948 non-null  object
 22  attributes              319604 non-null  object
 23  tip_review              20368 non-null   object
dtypes: float64(6), int64(4), object(14)
memory usage: 60.1+ MB